.form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.form button {
  font: inherit;
  font-size: 14px;
  font-weight: 700;
  background-color: rgb(81, 0, 128);
  border: none;
  border-radius: 20px;
  color: white;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.form button:hover {
  background-color: rgba(81, 0, 128, 0.301);
}

.control p {
  margin: 5px 0;
}

.control label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.control input,
.control textarea {
  font: inherit;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(188, 182, 182, 0.485);
  display: block;
  font-size: 14px;
  flex-grow: 1;
  padding: 8px 16px;
  box-sizing: border-box;
  transition: background-color 0.2s, outline-color 0.2s;
  color: white;
  resize: none;
}

.control input:focus,
.control textarea:focus {
  outline-color: rgb(81, 0, 128);
}

.progress {
  height: 20px;
  border-radius: 14px;
  margin-bottom: 0.2rem;
}

.progress::before {
  content: '';
  height: 20px;
  display: block;
  background-color: rgb(81, 0, 128);
  border-radius: 14px;
  transition: width 0.2s ease;
}

.customInput {
  display: none;
}

label {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: 10px;
  width: 45%;
  margin-top: 3px;
  margin-bottom: 0.2rem;
  font-size: 1rem;
}

.customButton {
  margin-top: 5px;
  width: 30%;
}
