@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.postcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch; /* Changed from center to stretch */
  padding: 1rem;
  border-top: 1px solid rgba(188, 182, 182, 0.485);
  animation: fadeIn 0.6s ease-in;
  max-width: 100%;
}

.itemHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.itemHeader h4,
.itemFooter p {
  margin: 0;
  padding: 0.5rem 0;
}

.text {
  padding: 1rem 0;
  word-wrap: break-word;
}

.media {
  padding: 1rem 0;
}

.postcontainer img,
.postcontainer video {
  max-height: 7rem;
  max-width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.postcontainer h4 {
  cursor: pointer;
  color: rgb(44, 75, 188);
  font-size: 1rem;
}

.postcontainer h4:hover {
  text-decoration: underline;
}

.timestamp {
  color: #777;
  font-size: 0.8rem;
}

.itemFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.likeButton {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  padding: 0;
  color: rgba(188, 182, 182, 0.485); /* Change this to the desired color */
}

.likeButton:hover .unliked {
  color: #1da1f2; /* Change this to the desired hover color */
}

.liked {
  color: #1da1f2; /* Change this to the desired liked color */
}

.unliked {
  color: inherit;
}

.likeCount {
  margin-left: 0.5rem;
}
