.postcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-top: 1px solid rgba(188, 182, 182, 0.485);
}

.postcontainer img,
video {
  height: 7rem;
  width: 5rem;
}

.postcontainer h4 {
  cursor: pointer;
  color: rgb(44, 75, 188);
}
.postcontainer h4:hover {
  text-decoration: underline;
}
