.layout {
  display: flex;
  justify-content: center;
  height: 100%;
  position: relative;
  margin: 0 auto;
}

.leftSide,
.rightSide {
  width: 25%;
  height: 100%;
  z-index: 10;
  position: sticky;
  top: 0;
}

.center {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  z-index: 1;
  flex: 1;
  max-width: 350px;
  border-left: 1px solid rgba(188, 182, 182, 0.485);
}

.addPost {
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: rgb(0, 0, 38);
  border-bottom: 1px solid rgba(188, 182, 182, 0.485);
}

.postList {
  flex: 1;
  overflow-y: auto;
  border-right: 1px solid rgba(188, 182, 182, 0.485);
}

@media (max-width: 767px) {
  .rightSide {
    display: none;
  }
}
/* @media (max-width: 1023px) {
  .left,
  .right {
    max-width: calc(20% - 20px);
  }
}

@media (max-width: 768px) {
  .left,
  .right {
    max-width: calc(15% - 20px);
  }
} */
