.layout {
  border: 3px solid green;
  display: flex;
}

.left {
  border: 3px solid rgb(128, 0, 0);
  width: 40%;
}

.main {
  border: 3px solid rgb(128, 0, 0);
  padding: 50px;
  margin-left: 0;
  display: flex;
  flex-direction: column;
}
