.login {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.login img {
  width: 5%;
  height: 5%;
}

.items {
  display: block;
  padding: 1rem;
}

.logo img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
