@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
  box-sizing: border-box;
}

html {
  font-family: 'Quicksand', sans-serif;
}

body {
  background: rgb(16, 49, 213);
  background: radial-gradient(
    circle,
    rgba(16, 49, 213, 1) 0%,
    rgba(64, 137, 204, 1) 12%,
    rgba(154, 25, 173, 0.5130427170868348) 70%,
    rgba(24, 188, 218, 0) 100%
  );
}

button {
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  font-weight: 800;
  color: black;
  background-color: #e562e3;
  padding: 5px 7px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #b310b9;
}
