.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  box-sizing: border-box;
  width: 100%;
}

.search {
  display: flex;
  gap: 10px;
  align-items: center;
}

.search input {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(188, 182, 182, 0.485);
  display: block;
  box-sizing: border-box;
  transition: background-color 0.2s, outline-color 0.2s;
  font-size: 14px;
  color: white;
  flex-grow: 1;
  padding: 8px 16px;
}

.search input:focus {
  outline-color: rgb(81, 0, 128);
}

.container p {
  margin-right: 15px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

.container ul {
  list-style: none;
}

.container li {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  margin-bottom: 1rem;
}

.container img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.container button {
  font: inherit;
  font-size: 14px;
  background-color: rgb(81, 0, 128);
  border: none;
  border-radius: 20px;
  color: white;
  padding: 8px 16px;

  cursor: pointer;
  transition: background-color 0.2s;
}

.container button:hover {
  background-color: rgba(81, 0, 128, 0.301);
}
