.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  box-sizing: border-box;
  width: 100%;
}

.search {
  display: flex;
  gap: 10px;
  align-items: center;
}

.search input {
  flex-grow: 1;
  font: inherit;
  border-radius: 5px;
  background-color: #f0f0f0dd;
  border: 1px solid #c1d1d1;
  font-size: 1.25rem;
  resize: none;
}

.search input:focus {
  background-color: #f8cbf1;
  outline-color: rgb(81, 0, 128);
}

.search button {
  flex-shrink: 0;
}

.container p {
  margin-right: 15px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

.container ul {
  list-style: none;
}

.container li {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  margin-bottom: 1rem;
}

.container img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
