.postlistcontainer {
  display: flex;
  justify-content: center;
  height: 100%;
  position: relative;
  margin: 0 auto;
  border-left: 1px solid rgba(188, 182, 182, 0.485);
  border-bottom: 1px solid rgba(188, 182, 182, 0.485);
  border-right: 1px solid rgba(188, 182, 182, 0.485);
  width: 350px;
}

.postlistcontainer .logo img {
  border-radius: 50%;
  width: 80px;
  height: 70px;
  object-fit: cover;
}

.postlistHeader {
  height: 100%;
  z-index: 10;
  position: sticky;
  top: 0;
  background-color: rgb(0, 0, 38);
  border-right: 1px solid rgba(188, 182, 182, 0.485);
}

.postlistHeader h3 {
  margin-top: 5px;
  text-align: center;
}

.logo {
  display: flex;
  justify-content: center;
}

.postList {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  z-index: 1;
  flex: 1;
  border-left: 1px solid rgba(188, 182, 182, 0.485);
}

.noPostsMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.noPostsMessage p {
  font-size: 18px;
  color: #8e8e8e;
  border-bottom: 1px solid rgba(188, 182, 182, 0.485);
}
